body{
    background-color: yellow;
}
.h1{
    background-color: white;
    width: 119px;
      margin-top: 10%;
    padding: 0;
        border: solid black;
       display: grid;
       align-items: center;
  }
  .column{
    background-color: white;
   width: 260px;
      margin-top: 2%;
        padding: 20px;
        border: solid black;
      text-align: left;
        display: grid;
      
  }
 
  .row{
    display: grid;
    gap: 10px 0;
    grid-template-columns: auto auto auto auto auto;
   
      margin-left: 20%;

  }

/* Media query for screens smaller than 1440px */
@media only screen and (max-width: 1439px) {
    .row {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
    }
    .h1 {
        width: 100%; /* Full width for the header on smaller screens */
        margin-left: 0; /* Remove margin-left on smaller screens */
    }
}
